@import "partials/setup";

body {
	background-image: url(../../assets/pattern.jpg);
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
}

.heads {
	display: flex;
	.headHolder {
		width: 33.3%;
		img {
			width: 100%;
		}
	}
}

header {
	height: 100vh;
	text-align: center;
	position: relative;
	h1 {
		color: white;
		font-family: 'Unkempt', cursive;
		font-size: 90px;
		text-shadow: 2px 2px 0 darkcyan;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	span {
		display: block;
		font-size: 70px;
		text-transform: uppercase;
	}
}

.quoteBox {
	visibility: hidden;
	text-align: center;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 30px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
	border: 2px dotted darkcyan;
	p {
		font-size: 50px;
		color: darkcyan;
		text-shadow: 3px 3px 2px white;
		font-family: 'Unkempt', cursive;
		margin: 0;
		line-height: 1;
		position: relative;
		bottom: 50%;
	}
}

#sylvia:hover {
	animation: dance 2s infinite;
}

@keyframes dance {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(30deg);
	}

	50% {
		transform: rotate(-30deg);
	}

	75% {
		transform: rotate(30deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

footer {
	height: 100vh;
	text-align: center;
	position: relative;
	h2 {
		color: white;
		text-shadow: 2px 2px 0 darkcyan;
		font-family: 'Unkempt', cursive;
		font-size: 90px;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}